.navbar {
  border-radius: 0 !important;
  font-weight: bold;
  font-size: large;
}

.cell-name {
  width: 100%;
}

.cell-status {
  white-space: nowrap;
  vertical-align: middle !important;
}

.sensor-name {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sensor-status {
  margin-top: 5px;
  margin-bottom: 11px;
}
