.navbar {
  border-radius: 0 !important;
  font-weight: bold;
  font-size: large;
}

#datepicker {
  font-size: 16px;
}

#show-devices-label {
  font-weight: bold;
}

#show-devices > .checkbox:first-child {
  margin-top: 3px;
}
