.navbar {
  border-radius: 0 !important;
  font-weight: bold;
  font-size: large;
}

.table > tbody > tr {
  cursor: pointer;
}

.cell-condition {
  width: 50%;
  vertical-align: middle !important;
  font-weight: bold;
  font-size: large;
}

.type {
  color: black;
}

.constant {
  color: blue;
}

.cell-interval {
  width: 50%;
  vertical-align: middle !important;
}

.cell-active {
  white-space: nowrap;
  vertical-align: middle !important;
}

.modal-body h4:first-child {
  margin-top: 0;
}

.list-group {
  margin-bottom: 0;
}

#add-device {
  margin-top: 5px;
}

#add-device-btn, #add-device-menu {
  width: 100%;
}

#select-condition-type {
}

#delete-rule {
  float: left;
}

@media (max-width: 479px) {
  #rules td {
    display: block;
    width: 100%;
  }

  .cell-condition {
    padding-bottom: 0 !important;
  }

  .cell-interval {
    border-top: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .cell-active {
    border-top: none !important;
    text-align: center;
  }
}
